* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: 0;
}

body {
  background: rgb(147, 102, 242);
  background: linear-gradient(
    160deg,
    rgba(147, 102, 242, 1) 17%,
    rgba(104, 25, 213, 1) 79%
  );
}

h1 {
  color: black;
}
p {
  color: black;
}

/* navigaton bar */
nav {
  width: 100% - 2rem;
  background-color: white;
  position: relative;
  place-items: center;

  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.nav-items {
  text-decoration: none;
  display: inline-block;
}
/* navigationbar */
/* content */
.container {
  width: 80%;
  height: 80%;
  padding: 10%;

  display: flex;
  flex-direction: row;
  /*temp*/
  border: 1px solid red;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  body {
    background: black;
  }
}

/* menu */
.menu {
  background-color: white;
  width: max-content;
  height: fit-content;
  border-radius: 12px;
  padding: 10px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.menu li {
  list-style-type: none;
}
@media only screen and (max-width: 1000px) {
  .menu li {
    display: inline;
  }
}
.menu button {
  min-width: 200px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
  color: black;
  background-color: #c3b1e1;
  border: none;
  padding: 10px;
}
/* calendar contents */
.container-calendar {
  width: 600px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
}
